<div class="post" *ngIf="post$ | async as post">
  <p class="post__section post__section__author">
    Author: <span>{{ post.author }}</span>
  </p>
  <p class="post__section post__section__email">
    Email:<span>{{ post.email }}</span>
  </p>
  <p class="post__section post__section__title">
    Title:<span>{{ post.title }}</span>
  </p>
  <p class="post__section post__section__tags">
    Tags:<span class="tag" *ngFor="let tag of post.tags; index as i">
      #{{ tag }}
    </span>
  </p>
  <p class="post__section post__section__content">
    Content: <span>{{ post.content }}</span>
  </p>
  <button routerLink="/posts" class="btn__back">Go to posts</button>
</div>
