// NOTE: BEM Notation!!
// NOTE: Use color codes not color names

.post {
  margin-left: 5%;
  margin-right: 5%;

  &__section {
    span {
      color: rgba(0, 0, 0, 1);
    }

    &__author {
      color: rgb(238, 130, 238);
    }
    &__title {
      color: rgb(255, 69, 0);
    }
    &__content {
      color: rgb(250, 128, 114);
    }
    &__email {
      color: rgb(46, 139, 87);
    }
    &__tags {
      color: rgb(102, 51, 153);

      .tag {
        color: rgb(0, 148, 133);
        padding: 3px;
      }
    }
  }
}
