.posts {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .post {
    display: flex;
    width: 500px;
    // NOTE: Use color codes always - never names
    background: rgba(220, 220, 220, 1);
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    margin: 10px;
    align-items: center;
    justify-content: center;

    &__title {
      color: salmon;
    }

    &__tags {
      color: rgb(0, 148, 133);
      padding: 3px;
    }

    &:hover {
      // NOTE: Indicate something is clickable by updating its style when focused
      background: rgba(220, 220, 220, 0.5);
      cursor: pointer;
    }
  }
}
